@page "/"

<h1>Fadecandy Visualizer</h1>

<div id="@elementId">
</div>

<button value="submit" onclick="@Listen">Connect</button>

@*<SurveyPrompt Title="How is Blazor working for you?" />*@

@functions  { 

    private string elementId = "panel";

    protected override async Task OnAfterRenderAsync()
    {
        await Shared.JSInterop.Panel.Configure(elementId, 285, 200);
    }

    public async Task Listen()
    {
        await Shared.JSInterop.Panel.Listen();
    }
}
